

<!-- top header  -->
<div class="bg-dark text-light row py-2 text-center fs-6">
  <p class="col-9 m-0 text-center fw-light">
    Summer Sale For All Swim Suits And Free Express Delivery-OFF 50%!
    
    <a class="text-light fw-bold px-2"> ShopNow </a>
  </p>
  <span class="col-1"></span>
  <span class="col-2">
    <select name="lang" id="lang" class="bg-dark text-light">
      <option value="eng">English</option>
      <option value="guj">Gujrati</option>
    </select>
  </span>
</div>

<!-- main header  -->

<nav class="navbar navbar-expand-lg bg-transparent row border-bottom">
  <div class="d-flex justify-content-between px-5">
    <a class="navbar-brand col-1 fw-bold text-center" href="#">Exclusive</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-2"></div>
    <div
      class="collapse navbar-collapse fw-bold d-flex justify-content-center col-4"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav d-flex justify-content-evenly w-100 aliit mb-2 mb-lg-0"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/components/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/components/login/login.html">Sign up </a>
        </li>
      </ul>
    </div>

    <div class="col-2"></div>
    <div class="col-3">
      <form class="d-flex " role="search">
        <input
          class="form-control bg-secondary-subtle text-black"
          type="search"
          placeholder="What are you looking for ?"
          aria-label="Search"
        />
        <button class="btn rounded-3 bg-secondary-subtle text-black" type="submit">
          <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
