<div class="my-5 container">
  <div class="d-flex justify-content-between align-items-center">
    <span class="fw-semibold fs-4">wishlist(4)</span>
    <button class="btn btn-outline-dark">Move All to Bag</button>
  </div>
  <p></p>
  <p></p>
  <div class="row" id="product-list"></div>
  <div class="d-flex justify-content-between align-items-center my-3">
    <div class="d-flex align-items-center fw-bold fs-5">
      <div class="bg-danger px-2 py-3 rounded-2 me-2"></div>
      Just For You
    </div>
    <button class="btn btn-outline-dark px-4">SEE ALL</button>
  </div>
  
  <div id="product-list-just-for-you" class="row my-3"></div>
</div>
